{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>
    {% block title %}{% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gloock&family=IBM+Plex+Serif&family=Playfair+Display&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
  </style>
</head>

<body id="background-img">
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}"
      <a href="{% url 'create_recipe' %}"
    </nav>
  </header>

  <main>
    {% block content %} {% endblock content %}
  </main>

  <footer>
    <p>
      Made with love by Scrumptious Recipes
    </p>
  </footer>
</body>

</html>