{% extends "base.html" %}


{% block title %}
Scrumtious Recipes
{% endblock title %}

{% block content %}
<main>
  <div class="container-main">
    <article>
      <h1 class="padding-sides">Create a recipe</h1>
      <form method="POST">
        { % crsf_token % }
        {{ form.as_p }} <!-- content as paragraphs -->
      </form>
    </article>
  </div>
</main>
{% endblock content%}