{% extends "base.html" %}


{% block title %}
{{ recipe.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<main>
  <!--  -->
  <a href="{% %}"
  <div class="container-main">
    <article>
      <h1 class="padding-sides">
        {% recipe.title %}
      </h1>
      <figure>
        <img src="{% recipe.picture %}"
          alt="Two tacos" class="taco-img">
        <img
          src="https://images.unsplash.com/photo-1551504734-5ee1c4a1479b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
          alt="Two tacos" class="taco-img">
        <p class="rating">4.3 stars</p>
      </figure>
    </article>

    <article class="primary-section padding-sides">
      <h2>Ingredients</h2>
      <table>
        <thead>
          <tr>
            <th class="first"><em>Amount</em></th>
            <th class="second"><em>Food item</em></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-background">
            <td>1 cup</td>
            <td>Green breans</td>
          </tr>
          <tr>
            <td>3 ears</td>
            <td>Fresh corn</td>
          </tr>
          <tr class="table-background">
            <td>2 cups</td>
            <td>Tomatillo salsa</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Corn tortillas</td>
          </tr>
          <tr class="table-background">
            <td>.5 cups</td>
            <td>Cotija cheese</td>
          </tr>
        </tbody>
      </table>
    </article>

    <article class="primary-section padding-sides">
      <h2>Steps</h2>
      <ol>
        <li>Blanch the green breans</li>
        <li>Grill the green beans and the ears of corn</li>
        <li>Chop the green beans</li>
        <li>Slice the corn off the cob</li>
        <li>Grill the tortillas</li>
        <li>Assemble the tacos with veggies, salsa, and cheese</li>
      </ol>
    </article>

  </div>
</main>
% endblock content }