{% extends "base.html" %}


{% block title %}
Scrumtious Recipes
{% endblock title %}

{% block content %}
<main>
  <div class="container-main">
    <article>
      <h1 class="padding-sides">Edit a recipe</h1>
      
      








    </article>
  </div>
</main>
{% endblock content%}