{% extends "base.html" %}


{% block title %}
{{ recipe.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<main>
  <section class="hero">
    <div class="main-section">
      <div class="line"></div>
      <h1>Scrumptious Recipes</h1>
      <div class="line"></div>
    </div>
  </section>

  <aside>
    <i>All the food that's fit to eat</i>
  </aside>

  <section class="grid-food">
    <!-- -->
    {% if recipe.title == "Vegetarian Tacos" %}
    <div class="grid-item featured-recipe">
      <div class="container-recipe-img-and-text ">
        <img
          src="{{ recipe.picture }}"
          alt="Two tacos" class="recipe-img">
        <div class="bottom-center">
          <div class="featured-mini-container">
            <p class="featured-label">FEATURED</p>
          </div>
          <a class="recipe-name" href="/detail.html">
            <h2 class="h2-featured">
              {{ recipe.title }}
            </h2>
          </a>
        </div>

      </div>
      <div class="center">
        <p class="featured-description">
          These tacos are absolutely amazing and so easy!! I would not change anything about them. The first night
          we ate them with mashed potatoes, asparagus and brown sugar carrots. The leftovers were used to make steak
          quesadillas and my mouth still waters when I think about them!
          - Emily
        </p>
      </div>

      <p class="rating-featured"><b>4.9 stars </b><span class="star">✰✰✰✰✰</span><span class="star-grey"></span></p>
    </div>

    {% else %}
    <div class="grid-item">
      <div>
        <img src="{% recipe.picture %}"
          alt="Two tacos" class="recipe-img">
      </div>
      <a href="{% url 'show_recipe' id %}">
        <h3 class="h3-no-padding">{{ recipe.title }}</h3>
      </a>
      <p class="rating">4.1 stars <span class="star">✰✰✰✰</span><span class="star-grey">✰</span></p>
      <p>
        {{ recipe.created_on|date: F j, Y"}}
      </p>
    </div>
    {% endif %}
  </section>
</main>
{% endblock content %}