/* || GENERAL STYLES */
* {
  box-sizing: border-box;
}

/* || body */
body {
  margin: 0;
  font-family: 'IBM Plex Serif', serif;
  color: rgb(1, 55, 92);
}

/* || Typography */
@font-face {
  font-family: "Cherolina";
  src: local("Cherolina"),
    url("../static/fonts/Cherolina.ttf") format("truetype");
  /* src: url("fonts/Cherolina.ttf") format('truetype'); */

}

h1 {
  margin-top: 0px;
  margin-bottom: -14px;
  font-family: 'Cherolina', serif;
  font-size: 72px;
  color: rgb(42, 42, 44);
}

h2 {
  display: block;
  margin: 8px 0px 24px 0px;
  padding: 0px 0px 0px 0;
  font-family: 'Gloock', serif;
  font-size: 32px;
}

.h2-featured {
  display: inline;
  margin-top: 8px;
  padding: 0px 8px;
  font-family: 'Gloock', serif;
  font-size: 40px;
}


h3 {
  display: block;
  margin-bottom: 0;
  margin-top: 8px;
  font-family: 'Gloock', serif;
  font-size: 20px;
  text-align: center;
}

.h3-no-padding {
  margin-top: 8px;
  padding: 0px 8px;
}

footer>p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #2e3232;
}

a:hover {
  color: green;
}

header a {
  font-family: "Poppins", san-serif;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

nav>a {
  color: rgb(255, 255, 255);
  padding-left: 16px;
  font-weight: bold;
}

/* || Header and Navigation */
header {
  background-color: #324684;
  padding-top: 20px;
  padding-bottom: 24px;
}

header>a {
  margin-left: 16px;
}

aside {
  text-align: center;
  margin-bottom: 24px;
}

.line {
  border-top: 1.5px solid rgb(119, 119, 119);
  margin-top: 45px;
  display: block;
}

li {
  padding: 0px 0px 0px 16px;
  line-height: 200%;
}


/* || Main content */
main {
  max-width: 900px;
  margin: 24px auto;
  padding: 16px 32px 80px 32px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 16px;
}


/* || Section: grid */
.grid-food {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2.5%;
  row-gap: 2.5%;
  max-width: 1100px;
}

.grid-item {
  /* border: 1px dashed rgb(171, 168, 168); */
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}

.container-recipe-img-and-text {
  position: relative;
}

.recipe-img {
  height: 100%;
  width: 100%;
}

.recipe-name {
  padding: 32px 16px 16px 16px;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 8px 8px 0 0;
}

/* Featured */
.featured-recipe {
  grid-column-start: 1;
  grid-column-end: 4;
}

.featured-description {
  margin-top: 32px;
  font-size: 18px;
  line-height: 150%
}

.quoter {
  text-align: right;
  margin-top: -24px;
}

.rating-featured {
  text-align: center;
}

.featured-label {
  display: inline;
  width: 100%;
  margin-bottom: 24px;
  padding: 8px 16px 0px 16px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(229, 96, 1);
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  border-radius: 4px 4px 0 0;
}

.featured-mini-container {
  margin-bottom: 8px;
}

.center {
  text-align: center;
  padding: 0 16px;
}

/* positioning needs to be on this not recipe-name */
.bottom-center {
  position: absolute;
  bottom: 16px;
  display: block;
  width: 100%;
  text-align: center;
}

.primary-section {
  margin-top: 32px;
}

.container-main {
  border: 1px solid black;
  border-radius: 8px;
  padding: 24px 0px 16px 0;

}

.padding-sides {
  padding-left: 24px;
  padding-right: 24px;
}

/***********/


/* || Images */
figure {
  margin-inline-start: 0px;
  margin-right: 0px;
}

figure>img {
  display: block;
  width: 100%;
  margin-top: 0px;

}

.rating {
  /* padding: 0px 8px; */
  margin-top: 8px;
  text-align: center;
}

.star {
  color: rgb(233, 120, 7);
}

.star-grey {
  color: rgb(229, 200, 200);
}


/* || Tables */
th {
  text-align: left;
}

tr>.first {
  inline-size: 100px;
}

tr>.second {
  min-width: 200px;
}

.table-background {
  background-color: rgb(233, 251, 255);
}


/* || Footer */
footer {
  position: sticky;
  display: block;
  bottom: 0px;
  padding: 4px;
  background-color: #d1d9da;
}